@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

/* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

button {
  cursor: pointer;
  border: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1330px;
  margin: 0px auto;
}

.nav {
  max-height: 156px;
  width: 100%;
}

.nav__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nav__logo {
  padding: 26px 0px;
  width: 50%;
}

.nav__list {
  letter-spacing: 0.2px;
  font-weight: 600;
  height: 100%;
  width: 50%;
}
.nav__list_active {
  color: #FA4A0C;
}
.nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list ul li {
  cursor: pointer;
}

.header {
  min-height: 619px;
  width: 100%;
  background-image: url(../img/headerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header__body {
  width: 100%;
  height: 100%;
}

.header-body__title {
  padding-top: 73px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #F7F7F7;
  text-align: center;
}

.header-body__text {
  max-width: 1005px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
}
.header-body__text p:last-child {
  padding-top: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #F7F7F7;
  font-family: "Montserrat", sans-serif;
}

.header-body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 54px;
}
.header-body__buttons button {
  max-height: 68px;
  max-width: 236px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px 58px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  margin: 0px 15px;
}

.header-body__buttons_active {
  background-color: #FA4A0C !important;
  border: none !important;
}